doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title
    link(rel="stylesheet" href="../../../style/components/UIKit/colors_type/colors_type.css")
  body
    .container 
      .colors
        .colors__item_1.colors__item
        .colors__item_text
          p.type Dark Shade 100%
          p #1F2041
        .colors__item_2.colors__item
        .colors__item_text
          p.type Dark Shade 75%
          p #1F2041
        .colors__item_3.colors__item
        .colors__item_text
          p.type Dark Shade 50%
          p #1F2041
        .colors__item_4.colors__item
        .colors__item_text
          p.type Dark Shade 25%
          p #1F2041
        .colors__item_5.colors__item
        .colors__item_text
          p.type Dark Shade 5%
          p #1F2041
        .colors__item_6.colors__item
        .colors__item_text
          p.type Purple 
          p #BC9CFF
        .colors__item_7.colors__item
        .colors__item_text
          p.type Green
          p #6FCF97
      .fonts
        h1.fonts__heading H1
        .fonts__item_1
          p This one is the sub-section or widget title
        h2.fonts__heading H2
        .fonts__item_2 
          p Next one is the item title inside widgets
        h3.fonts__heading H3
        .fonts__item_3 
          p This is a label or CTA text 
        h4.fonts__heading Body
        .fonts__item_4
          p This is the body text which is used for most of the design, like paragraphs, lists, etc.
        .k 

          
          