doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="../../../style/components/UIKit/headers_footers/headers_footers.css")
    title
  body 
    header.header__unlogined 
      img.logo(src="./pictures/logo.png")
      nav.header__nav 
        ul.header__list
          li: a.header__nav-link(href="!") О нас
          li: a.header__nav-link(href="!") Услуги
            span.material-symbols-outlined expand_more
          li: a.header__nav-link(href="!") Вакансии
          li: a.header__nav-link(href="!") Новости
          li: a.header__nav-link(href="!") Соглашения
            span.material-symbols-outlined expand_more
      form.form(action="")
        .gradient__entrance
          button.button__item.button__item_entrance
            a.button__item-link-entrance Войти
        button.button__item.button__item_registration
          a.button__item-link-registration Зарегистрироваться 